<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Graduate|Monoton|Plaster|Satisfy|Ewert' rel='stylesheet' type='text/css'>
</head>
<body >
<!-- <img src="town.jpeg" class="background"> -->

 <%= yield %>

 <script type="text/javascript" src="main.js"></script>
</body>
</html>