body {
  background: url(town_2.jpg) no-repeat center center fixed;
  background-size: cover;

}

h1 {
  font-family: 'Monoton';
  font-weight: 200;
  text-align: center;
}

h2 {
  font-family: 'Helvetica Neue';
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  color: #333;
}

#container {
  width: 40%;
  min-width: 360px;
  margin: auto;
  background-color: rgba(255,255,255,.5);
  padding: 10px;
}

#button-wrapper {
  text-align: center;
}

#button {
  background-color: #856A5A;
  color: white;
  margin: 0 auto;
  outline: none;
  border: 1px solid #333;
  padding:10px;
}
  #button:active {
    background-color: #684E27;
    
  }
img.background {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

footer {
   padding:5px;
   text-align: center;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: rgba(0,0,0,.5);
}

  footer a {
    color: white;
    text-decoration: none;
  }

    footer a:visited {
      color: white;
    }

    footer a:hover {
      color: #ddd;
    }

    footer a:active {
      color: #ddd;
    }
@media (max-width: 400px) {
  h2 {
    font-size: 40px;
  }